.error {
    font-size: 1.5rem;
    color: red;
    background-color: rgb(193, 193, 193);
    border: solid 3px red;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.success {
    font-size: 1.5rem;
    color: green;
    background-color: rgb(193, 193, 193);
    border: solid 3px green;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.containerBlog {
    border: solid 2px rgb(134, 134, 134);
    padding: 5px 15px;
    margin-bottom: 5px;
}